@import "../../palette";

.navigate {
  margin-top: 80px;
  position: relative;
  &__container {
    display: flex;
    align-items: center;
  }
  &__collapse {
    width: 800px;
    justify-content: end;
  }
  &__menu {
    width: 100%;
    list-style: none;
    padding: 0px;
    margin: 0;
    text-align: right;
  }
  &__menu > li {
    margin: 10px 0;
  }
  &__button {
    width: 167px;
    height: 56px;
    margin-right: 100px;
    background-color: $accent-color;
    border-radius: 20px;
    color: $neutral-color;
    border: none;
    display: none;
  }
}

@media (min-width: 768px) {
  .navigate__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .navigate__menu > li:first-child {
    display: none;
  }
  .navigate__menu > li {
    margin: 0;
  }
  .navigate__button {
    display: block;
  }
}
