@import "../../palette";

.header {
  width: 100%;
  min-height: 1028.5px;
  background-size: cover;
  background-image: url("../../svg/Bg.svg");
  color: $neutral-color;
  margin-bottom: 50px;
  overflow: hidden;
}
