@import "../../palette";

.phoneSection,
.phoneSection__left {
  display: flex;
}
.phoneSection {
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 40px;

  &__left {
    margin-bottom: 30px;
  }

  &__article {
    max-width: 460px;
    margin: 100px 0 0;
  }
  &__article > h1,
  &__article > p {
    font-style: normal;
  }
  &__article > p {
    width: 360px;
  }
  &__phone {
    position: relative;
    display: none;
  }
  &__blue,
  &__pink,
  &__bagel {
    position: absolute;
  }
  &__blue {
    left: -20%;
    bottom: 30%;
  }
  &__pink {
    right: 0;
    top: 0;
  }
  &__bagel {
    right: 0;
    bottom: 0;
  }
}

@media (min-width: 420px) {
  .phoneSection__phone {
    display: block;
  }
}

@media (min-width: 1200px) {
  .phoneSection {
    justify-content: space-between;
    &__left {
      margin-bottom: 0;
    }
  }
}
