@import "../../palette";

.manage {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 270px;
  align-items: center;
  &__text > h2 {
    color: $primary-color;
  }
  &__graf {
    max-width: 463px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__smallgraf,
  &__biggraf {
    width: 223px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ffffff;
    border: 0.5px solid #cad6f1;
    box-shadow: 0px 25px 50px rgba(22, 25, 79, 0.2);
    border-radius: 50px;
  }
  &__smallgraf {
    margin-bottom: 20px;
  }
  &__smallgraf h2 {
    color: $primary-color;
  }
  &__biggraf {
    width: 100%;
    height: 248px;
    padding: 20px;
  }
  &__biggraf-svg {
    width: 100%;
  }
  &__text {
    width: 100%;
  }
  &__text > p {
    margin-top: 55px;
  }
}
@media (min-width: 480px) {
  .manage__text {
    width: 369px;
  }
  .manage__graf {
    max-width: 463px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 992px) {
  .manage {
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    &__graf {
      margin-bottom: 0;
      max-width: 463px;
    }
  }
}
